.single-post-content{
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  /* background-image:url('images/background4.png'); */

  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

.single-post-content > * {
  width: 100%;
  box-sizing: border-box;
}

.single-project-titre{
  text-transform: uppercase;
  font-size: var(--texte-mobile-taille-titre);
  order: -1;
}

.single-project-type{
  text-transform: uppercase;
  font-size: var(--texte-mobile-taille-titre);
  order: -1;
}
  
.single-project-membres{
  order: -1;
  font-size: var(--texte-mobile-taille-principal);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  letter-spacing: 2px;
}

.single-project-texte-item{
  font-size: var(--texte-mobile-taille-principal);
  font-family: var(--texte-font-principal);
  background-color: rgb(0, 0, 85);
  box-shadow: 0px 0px 5px 4px rgb(110, 173, 255);
  color: white;
  padding: 10px;
}

/*
  Style pour les grands ecrans
*/

@media screen and (min-width: 992px) {
  .single-post-content {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
    gap: 25px;
    padding: 2vh 18vw;
    align-self: center;
  }

  .single-post-content > * {
    align-self: stretch;
  }

  .single-project-texte-item{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;

    font-size: var(--texte-desktop-taille-principal);
    font-weight: var(--texte-poids-principal);
  }

  .single-project-titre{
    grid-column: 1 / 6;
    grid-row: 1 / 4;
    transition: .2s;
  }

  .single-project-titre:hover{
    scale: 1.05;
  }

  .single-project-type {
    grid-column: 6 / 11;
    grid-row: 1 / 4;
    transition: .2s;
  }

    .single-project-type:hover{
    scale: 1.05;
  }

  .single-project-thumbnail{
    grid-column: 1 / 6;
    grid-row: 4 / 21;
    transition: .2s;
  }

    .single-project-thumbnail:hover{
    scale: 1.05;
  }

  .single-project-membres {
    grid-column: 6 / 11;
    grid-row: 4 / 11;
    transition: .2s;
  }

    .single-project-membres:hover{
    scale: 1.05;
  }

  .single-project-description {
    grid-column: 6 / 11;
    grid-row: 11 / 21;
    transition: .2s;
  }

    .single-project-description:hover{
    scale: 1.05;
  }
}